@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;600 & family= Roboto & display=swap');

//Defino Fonts
$fontMain: 'Poppins', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

//Defino text sizing
$textSm: 1.4em;
$textMd: 1.5em;
$textLg: 1.6em;
$textXl: 2em;

//Defino font-weight
$bold: 600;
$regular: 400;

