/*Estilos para NavBar*/
#Botonera{
    background: linear-gradient(to top, map-get($map: $paleta, $key: 'two'), map-get($map: $paleta, $key: 'one'));
    img{
        width: $secondaryWidth;
        height: $secondaryHeight;
        ul li a{
            color: map-get($map: $paleta, $key: 'white');
            font-size: $textSm;
            font-family: $secondaryFont;
            font-weight: $regular;
            background-image: linear-gradient(currentColor, currentColor);
   			background-position: 0% 100%;
    		background-repeat: no-repeat;
    		background-size: 0% 2px;
    	    transition: background-size .3s;
            &:hover{
                color:map-get($map: $paleta, $key:'white' );
                font-weight: $bold;
                background-size: 100% 2px;
            }
        }    
    }
}
