<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/store_building_market_shop_icon_207733.png" type="image/x-icon">
    <title>Boutique</title>
    </head>
    <body>
        <!-- Start Nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-pink sticky-top" id="Botonera">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/Logo.jpg" alt="Logo Presentación de Boutique">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link"  href="../views/Invierno2022.html">Invierno 2022</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/Vintage.html">Vintage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="../views/Nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/Contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Nav -->
        <!-- Start Header -->
        <header class="spaceContent">
            <a href="../index.html">
                <img src="../img/clarissa-watson-69shQ1GRiDY-unsplash.jpg" alt="Foto Presentacion de Nuestra tienda Boutique" class="w-100 d-block">
                </a>  
        </header>
        <!-- End Header -->

        <main class="textSpace textRegular spaceContent">
            <h2>Sobre nosotros</h2>
            <p class="one">Boutique es una marca argentina que acompaña la dinámica de vida de la mujer contemporánea desde el año 2003 que abrimos nuestras puertas, acercándole una amplia variedad de prendas y accesorios inspirados en las últimas tendencias de moda.</p>
            <p>Nuestra gran variedad, amalgama diseño con funcionalidad y asegura un justo equilibrio entre calidad y accesibilidad, permitiendo que cada mujer pueda recrear su propio estilo y potenciar lo mejor de si misma.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, cum repudiandae. Amet ad porro iure quos necessitatibus explicabo, distinctio aspernatur corporis molestiae consectetur perferendis unde incidunt molestias recusandae magni minus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor expedita nulla error qui totam deleniti vero enim dignissimos. Aliquam, laudantium nam omnis temporibus blanditiis suscipit id obcaecati voluptate rerum quasi.
            </p>
        </main>

        <!-- Start footer -->
        <footer class="d-flex flex-column justify-content-center align-items-center">
            <h3>Seguinos en nuestras redes sociales</h3>
            <div>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="../img/Facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <img src="../img/Twitter-icon.png" alt="Twitter">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="../img/Instagram-icon.png" alt="Instagram">
                </a>
            </div>
        </footer>
        <!-- End footer -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>