<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/store_building_market_shop_icon_207733.png" type="image/x-icon">
    <title>Boutique</title>
    </head>
    <body>
        <!-- Start Nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-pink sticky-top" id="Botonera">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/Logo.jpg" alt="Logo Presentación de Boutique">
                </a>    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link"  href="../views/Invierno2022.html">Invierno 2022</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/Vintage.html">Vintage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="../views/Nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/Contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Nav -->
        <!-- Start Header -->
        <header>
            <a href="../index.html">
                <img src="../img/cat-han-ZP2fH6vGvcg-unsplash.jpg" alt="Foto Presentacion de Vintage" class="w-100 d-block">
                </a>  
        </header>
        <!-- End Header -->

        <!-- Start galery con sistema de grillas -->
        <main>
            <h2 class="textLeft">Elija producto, talle, color y agreguelo al carrito</h2>
            <section class="py-3 spaceContent">
                <div class="container-fluid">
                    <h3 class="text-sm-start">Pantalones</h3>
                    <div class="row">
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/chupinv.webp" alt="Pantalón de jeans chupin" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Pantalón de jeans</figcaption>
                            <p>$7000</p>
                            <div>
                                <label for="talle">Talle</label>
                                <select class="input" id="talle" name="talle" required>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/momv(1).webp" alt="Pantalón de jeans mom" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Jeans mom</figcaption>
                            <p>$8000</p>
                            <div>
                                <label for="talle">Talle</label>
                                <select class="input" id="talle" name="talle" required>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/sastrerov.webp" alt="Pantalón sastrero de verano" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Pantalón sastrero</figcaption>
                            <p>$5000</p>
                            <div>
                                <label for="talle">Talle</label>
                                <select class="input" id="talle" name="talle" required>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                    </div>
                </div>    
            </section>
            <section class="py-3 spaceContent">
                <div class="container-fluid">
                    <h3 class="text-sm-start">Remeras</h3>
                    <div class="row">
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/remeramc.webp" alt="Remera de algodón manga corta con estampa" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Remera de algodón</figcaption>
                            <p>$2000</p>
                            <div>
                                <label for="talle">Talle</label>
                                <select class="input" id="talle" name="talle" required>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">    
                            <img src="../img/morleymc.webp" alt="Remera de morley lisa manga corta con escote princesa" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Remera lisa de morley</figcaption>
                            <p>$3000</p>
                            <div>
                                <label for="talle">Talle</label>
                                <select class="input" id="talle" name="talle" required>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/toprayado.webp" alt="Top rayado de algodón mangas cortas" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Top rayado</figcaption>
                            <p>$2000</p>
                            <div>
                                <label for="talle">Talle</label>
                                <select class="input" id="talle" name="talle" required>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/blusa.webp" alt="Blusa de vestir de gasa lisa" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Blusa de vestir</figcaption>
                            <p>$5000</p>
                            <div>
                                <label for="talle">Talle</label>
                                <select class="input" id="talle" name="talle" required>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                    </div>    
                </div>    
            </section>   
            <section class="py-3 spaceContent">
                <div class="container-fluid">
                    <h3 class="text-sm-start">Abrigos</h3>
                    <div class="row">
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/camperacuero.webp" alt="Campera de cuero" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Campera de cuero</figcaption>
                            <p>$10000</p>
                            <div>
                                <label for="talle">Talle</label>
                                <select class="input" id="talle" name="talle" required>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/camperajeans.webp" alt="campera de jeans" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Campera de jeans</figcaption>
                            <p>$7000</p>
                            <div>
                                <label for="talle">Talle</label>
                                <select class="input" id="talle" name="talle" required>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="azul">azul</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/sacoverano.webp" alt="Saco de algodón rayada sin botones" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Saco rayado</figcaption>
                            <p>$5000</p>
                            <div>
                                <label for="talle">Talle</label>
                                <select class="input" id="talle" name="talle" required>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                    </div>    
                </div>    
            </section> 
            <section class="py-3 spaceContent">
                <div class="container-fluid">
                    <h3 class="text-sm-start">Accesorios</h3>
                    <div class="row">
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/carteraverano.webp" alt="Cartera de cuero" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Cartera de cuero</figcaption>
                            <p>$7000</p> 
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/sombrero.webp" alt="Sombrero" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Sombrero liso</figcaption>
                            <p>$2500</p>   
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                        <figure class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                            <img src="../img/Pañuelo.webp" alt="Pañuelo estampado de seda" class="w-100 d-block img-thumbnail altPhoto">
                            <figcaption>Pañuelo de seda</figcaption>
                            <p>$1500</p>
                            <div>
                                <label for="color">Color</label>
                                <select class="input" id="color" name="color" required>
                                    <option value="negro">negro</option>
                                    <option value="blanco">blanco</option>
                                    <option value="marrón">marrón</option>
                                    <option value="azul">azul</option>
                                    <option value="verde">verde</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-pink">Agregar al carrito</button>
                        </figure>
                    </div>    
                </div>    
            </section>
            <section>
                <h2>Tabla de talles de Indumentaria</h2>
                <table class="table table-striped table-hover">
                    <tr class="interColor">
                        <th>Talle</th>
                        <th>Busto</th>
                        <th>Cintura</th>
                        <th>Cadera</th>
                    </tr>
                    <tr>
                        <td>XS</td>
                        <td>82cm</td>
                        <td>64cm</td>
                        <td>90cm</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>86cm</td>
                        <td>68cm</td>
                        <td>94cm</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>90cm</td>
                        <td>72cm</td>
                        <td>98cm</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>94cm</td>
                        <td>76cm</td>
                        <td>102cm</td>
                    </tr>
                    <tr>
                        <td>XL</td>
                        <td>98cm</td>
                        <td>80cm</td>
                        <td>106cm</td>
                    </tr>
                </table>
            </section>
        </main>
        <!-- End galery con sistema de grillas -->    

        <!-- Start footer -->
        <footer class="d-flex flex-column justify-content-center align-items-center">
            <h3>Seguinos en nuestras redes sociales</h3>
            <div>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="../img/Facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <img src="../img/Twitter-icon.png" alt="Twitter">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="../img/Instagram-icon.png" alt="Instagram">
                </a>
            </div>
        </footer>
        <!-- End footer -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>